html {
  scroll-behavior: smooth;
}
header h1,
header nav > ul,
nav,
body {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}

/*---------------------------------------------------------- 
                           Header
------------------------------------------------------------*/
header {
  background-color: #3d91b7;
  color: white;
  padding: 13px;
  position: sticky;
  top: 0;
  z-index: 500;
  /* overflow: auto; */
}
header h1 {
  margin-left: 100px;
  font-size: 1.6em;
  font-weight: 900;
}

h1,
h2,
h3 {
  font-family: Ralway, sans-serif;
  font-weight: 700;
}

nav {
  float: right;
  margin-right: 100px;
  margin-top: 8px;
}

nav > ul > li,
header h1 {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
  /* font-size: 1.2em; */
  padding: 10px;
  margin: 0 5px;
  font-weight: 700;
}

nav a i {
  font-size: 0.8em;
  font-weight: 80;
}

nav a:hover {
  background-color: #64a7c5;
  color: #1360ca;
}

/*---------------------------------------------------------- 
                           Dropdown
------------------------------------------------------------*/

.dropdown {
  position: relative;
  /* overflow: hidden; */
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgb(221, 221, 221);
  z-index: 900;
  list-style: none;
  padding-left: 0;
  left: 5px;
  top: calc(100% + 20px);
  transition: 0.3s;
  opacity: 0;
}

.dropdown-content a {
  color: black;
  /* padding: 0; */
  background-color: transparent;
}

.dropdown-content a:hover {
  color: #64a7c5;
  background-color: transparent;
}

.dropdown:hover > .dropdown-content {
  opacity: 1;
  top: calc(100% + 10px);
  visibility: visible;
}

.dropdown:hover > a {
  background-color: #64a7c5;
  color: #1360ca;
}

/*---------------------------------------------------------- 
                           Hero section
------------------------------------------------------------*/

#hero {
  background-image: url("../img/hero-bg.jpg");
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
}
#hero h2 {
  margin: 0;
  font-size: 4.5em;
  text-shadow: -0.5px 0.5px 2px rgb(0, 2, 92);
}

#hero p {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "open sans";
  font-weight: 900;
  text-shadow: 0px 0.5px 2px rgb(0, 2, 92);
  margin-top: 0;
  margin-bottom: 50px;
}
#hero div {
  box-sizing: border-box;
  padding: 10% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 164, 246, 0.3);
}
#hero a {
  border: 4px solid white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  margin: auto;
  font-size: 30px;
  padding: 4px 0;
  color: white;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

#hero a:hover {
  background-color: rgba(255, 255, 255, 0.144);
  padding-top: 8px;
}

#hero i {
  /* position: absolute; */
  /* font-size: 2em; */
  /* transform: translate(-50%, 50%); */
  /* color: white; */
}

.d-inline-block {
  display: inline-block;
  vertical-align: top;
}

/*---------------------------------------------------------- 
                           Main section1
------------------------------------------------------------*/

#section1 {
  display: block;
  margin: auto;
  padding: 70px;

  background: linear-gradient(
      rgba(226, 221, 221, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/about-bg.jpg");
  background-size: cover;
}
#article1 {
  width: 40%;
  padding-top: 20px;
}

#article1 h2 {
  font-size: 2.5em;
}

#article1 a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #64a7c5;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

#article2 {
  width: 50%;
  margin-left: 30px;
}

#article2 div {
  width: 45%;
  margin: 10px;
}

#article2 div i,
#service i {
  font-size: xx-large;
  color: #64a7c5;
}

/*---------------------------------------------------------- 
                           Service
------------------------------------------------------------*/

#service {
  padding: 50px 70px;
}
#service h2 {
  background: url("../img/section-title-bg.png") center no-repeat;
  padding: 20px 0;
}

#service h2,
#service > p {
  text-align: center;
}

#service article {
  width: 200px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px gainsboro;
  position: relative;
  transition: all 0.3s ease-in-out;
}

#service article::before {
  position: absolute;
  left: 0;
  bottom: 100%;
  right: 0;
  top: 0;
  background-color: white;
  z-index: -1;
  content: "";
  transition: all 0.3s;
  border-radius: 10px;
}

#service article:hover::before {
  background-color: #3d91b7;
  color: white;
  bottom: 0;
}

#service article:hover,
#service article:hover i {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*---------------------------------------------------------- 
                           Footer
------------------------------------------------------------*/

footer {
  height: 60vh;
  background-color: #263f49;
  padding: 40px 100px 20px 100px;
  position: relative;
  margin-top: 50px;
}

footer address {
  height: 40vh;
  width: 30vw;
  background-color: white;
  border-top: 4px solid #3d91b7;
  padding: 10px;
  position: absolute;
  top: -50px;
}

/*---------------------------------------------------------- 
                           Scroll to top button
------------------------------------------------------------*/

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #64a7c5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 1px 5px gray;
}
